@{
    ViewBag.Title = "Home Page";
}

<div class=" align-content-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>HOSPITAL USAC - DEMO IPC2</p>
</div>
<div class=" align-content-center">
    <img src="~/img/portada.png" alt="ASP.NET" class="img-responsive " />
</div>