@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>Administrador de Información HOSPITAL </p>
</div>
<div class="img-responsive center-block" >
    <img src="~/img/portada.png" alt="ASP.NET" class="img-responsive center-block" />
</div>